@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.marker{
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.one{
    background-color: rgb(255, 0, 0);
}

.two{
    background-color: rgb(0, 255, 0);
}

.three{
    background-color: rgb(0, 0, 255);
}

.container{
    padding: 10px 0px;
    background-color: rgb(255, 255 , 255);
}