@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body,html{
    width: 98vw;
}

body{
    background-color:#1b1b32;
    color:#f5f6f7;
    font-family: Tahoma;
}

h1,p{
    text-align: center;
    padding: 10px;
}

form{
    display: block;
    margin: auto;
    max-width: 500px;
    min-width: 200px;
}


div{
    padding: 5px;
}

input{
    border-radius: 5px;
    background-color:#0a0a23;
    border:1px solid #0a0a23;
    min-height: 20px;
    font-size: 18px;
    color: white;
}

input,fieldset{
    width: 100%;
    margin: 5px;
}

fieldset{
    padding: 10px;
    border: none;
    border-bottom:3px solid #3b3b4f ;
}

.arruma{
    margin: 2px;
    width: unset;
    vertical-align: middle;
}

a{
    color: #ffffff;
}

input[type=submit]{
    display: block;
    margin: auto;
    height: 1.6em;
    width: 60%;
    min-width: 300px;
    border-color: #ffffff;
}

input[type=submit]:hover{
    background-color: #1b1b32;
}